:root {
    --gradient-1: linear-gradient(to left, #9d15ff, #441d5f);
    --gradient-2: linear-gradient(to left, #7b09cc, #441d5f);
    --gradient-3: linear-gradient(to left, #5b1591, #b35af3);
}


.services {
    background-color: #141414;
    color: white;
    position: relative;
}

.services-title-container {
    display: flex;
}

.services-title {
    margin: 0;
    margin-right: 10%;
    font-size: max(2vw, 5px);
    font-weight: 700;
}

.services-title-left {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    margin: 0;
}

.sub-title {
    position: relative;
    width: 300px;
}

.services-title-left .sub-title::before,
.services-title-left .sub-title::after {
    position: absolute;
    left: 70%;
    top: 50%;
    background: var(--gradient-1);
    content: "";
}

.services-title-left .sub-title::before {
    margin-top: -1px;
    height: 2px;
    width: 26px;
    margin-left: 10px;

}

.services-title-left .sub-title::after {
    margin-top: -3px;
    height: 6px;
    width: 6px;
    margin-left: 36px;
    border-radius: 50%;

}

.services-title-right {
    width: 60%;
    padding-left: 2%;
}

.services-title-right span {
    display: block;
    width: 100%;
    height: 3px;
    background: var(--gradient-1);
}

.services-content-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 60px;
    width: 100%;
}

.services-content {
    width: max(1vw, 220px);
    height: max(1vw, 300px);
    background-color: #441d5f;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    text-align: center;
    position: relative;
    justify-content: center;
    transition: background-color 0.3s ease;
    overflow: hidden;

}

.services-content-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffffc4;
    transition: transform 0.8s ease;
    transform: translateY(101%);
    z-index: 0;
}

.services-content-background-image {
    position: absolute;
    opacity: 0.02;
    width: 100%;
    height: 100%;
    background-size: cover;
    /* Cover keeps the image proportional */
    background-position: center;
    /* Centers the background image */
    background-attachment: fixed;
    object-fit: cover;
}

.services-container {
    padding: 5%;
    padding-inline: 10%;
}






.services-content:hover .services-content-background {
    transform: translateY(0);
}

.services-content-circlestylebackground {
    width: max(1vw, 100px);
    height: max(1vw, 100px);
    border-radius: 50%;
    background-color: #2a103d71;
    position: absolute;
    top: 80px;
    z-index: 0;
    transition: all 1s;
}

.services-content-title {
    font-weight: 600;
    cursor: pointer;
}

.services-content:hover p.p-services-learn-more {
    color: #000000;
    z-index: 0;
    transition: all 1s;
    cursor: pointer;
}

.services-content:hover .services-content-icon {
    z-index: 2;
    filter: invert(0);
    transition: all 1s;
}

.services-content:hover .services-content-circlestylebackground {
    z-index: 1;
    background-color: #7c7c7c5e;
    transition: all 1s;
}

.services-content:hover .services-content-title {
    z-index: 2;
    color: #000000;
    transition: all 1s;
}

.services-content-icon {
    width: max(1vw, 80px);
    color: #441d5f;
    filter: invert(1);
    margin-bottom: 20%;
    margin-top: 20%;
}

.services-bottom-container {
    height: max(1vw, 200px);
    padding-inline: max(1vw, 10%);
}

.services-bottom {
    display: flex;
    align-items: center;
    border: solid 1px rgb(255, 255, 255);
    padding-right: 0.8%;
    padding-left: 4%;
    justify-content: space-between;
    margin-top: 5%;
}

.services-bottom-text {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: max(1vw, 5px);
    margin-block: 0;
}

.services-bottom-text h3 {
    color: #9d15ff;
    margin-left: 5px;
    cursor: pointer;
}

.services-bottom-btn {
    position: relative;
    padding-block: max(1vw, 5px);
    padding-inline: max(3vw, 5px);
    background-color: #9d15ff;
    color: white;
    font-size: max(1vw, 8px);
    font-weight: 700;
    border: none;
    margin-block: 5px;
    cursor: pointer;
    transition: transform 0.5s ease;
    overflow: hidden;
}

.services-bottom-btn-text {
    z-index: 2;
    position: relative;
}

.services-bottom-btn-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--gradient-2);
    transition: transform 0.8s ease;
    transform: translateX(-101%);
    z-index: 0;
}

.services-bottom-btn:hover .services-bottom-btn-background {
    transform: translateX(0);
    display: block;
    transition: transform 0.5s ease;
}


@media (max-width:1350px) {

    .services-content {
        width: max(1vw, 220px);
        height: max(1vw, 200px);

    }

    .services-title {
        margin: 0;
        margin-right: 10%;
        font-weight: 700;
    }

    .services-subtitle {
        font-size: max(1vw, 10px);
    }

    .services-content-title {
        font-size: max(1vw, 10px);
    }

    .services-content-icon {
        width: max(0.5vw, 50px);
    }

    .p-services-learn-more {
        font-size: max(1vw, 10px);
    }


}

@media (max-width:1100px) {

    .services-content {
        width: max(1vw, 250px);
        height: max(1vw, 180px);

    }

}



@media (max-width:650px) {
    .services-title-left {
        width: 50%;
    }

    .services-title-left .sub-title {
        width: 100px;
    }

    .services-title-right {
        width: 40%;

    }

    .services-title-right .services-title-right-span {
        width: 100px;
    }

    .services-subtitle {
        font-size: max(1vw, 6px);
    }

    .headerhome-logo {
        position: relative;
        margin: 0px;
        margin-left: 4vw;
    }


    .services-content {
        width: max(1vw, 100px);
        height: auto;
        padding: 2vw;
        font-size: max(1vw, 5px);
    }

    .services-content-icon {
        width: max(0.5vw, 30px);
    }

    .services-subtitle {
        font-size: max(1vw, 5px);
    }

    .services-content-title {
        font-size: max(1vw, 8px);
    }

    .p-services-learn-more {
        font-size: max(1vw, 8px);
    }


    .services-content-circlestylebackground {
        width: max(1vw, 50px);
        height: max(1vw, 50px);
        top: 30px;
    }

    .services-content-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        gap: 20px;
        justify-content: center;
        margin-top: 60px;
        width: 100%;
    }
}

@media (max-width:650px) {

    .services-content {
        width: max(1vw, 200px);
        height: auto;
        padding: 2vw;
        font-size: max(1vw, 5px);
        padding-block: 20px;
    }

    .services-title-container {
        flex-direction: column;
        gap: 40px;
    }

    .services-content-icon {
        width: max(0.5vw, 75px);
    }

    /* TOP TITLE */
    .services-title-left {
        width: 90%;
    }

    .services-title-left span {
        width: 90%;
    }
    .services-title-left .sub-title {
        width:100%;
        font-size: max(1vw, 14px);
        margin-bottom: 10px;
    }
    .services-title-left .sub-title::before, .services-title-left .sub-title::after {
        position: absolute;
        left: 70%;
        top: 50%;
        background: var(--gradient-1);
        content: "";
    }
    h1.services-title {
        font-size: max(1vw, 20px);
        margin: 0;
    }

    /* DOWN SUBTITLE */
    .services-title-right .services-title-right-span {
        width: 200px;
    }

    .services-title-right {
        width: 90%;
    }

    .services-subtitle {
        font-size: max(1vw, 12px);

    }

    .services-content-title {
        font-size: max(1vw, 18px);
    }

    .p-services-learn-more {
        font-size: max(1vw, 15px);
    }

    .services-content-circlestylebackground {
        width: max(1vw, 120px);
        height: max(1vw, 120px);
        top: 60px;
    }

    .services-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-block: 20%;
    }

    .services-content-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 20px;
        justify-content: center;
        margin-top: 60px;
        width: 100%;
        justify-items: center;
    }

    /* LEARN MORE */


    .services-bottom-container {
        height: max(1vw, 50px);
           width: 100%;
        padding-inline: max(1vw, 10%);
    }
    .services-bottom{
        display: flex;
        flex-direction: column;
        padding: 2%;
    }
    .services-bottom-text {
    
        font-size: max(1vw, 10px);
        margin-block: 0;
    }
    .services-bottom-text{
        flex-direction: column;
    }
    .services-bottom-btn {
        padding-block: max(1vw, 5px);
        padding-inline: max(3vw, 5px);
        font-size: max(1vw, 8px);
        font-weight: 700;
        border: none;
        margin-block: 5px;
        cursor: pointer;
        transition: transform 0.5s ease;
        overflow: hidden;
    }
    .services-content-background-image {
        position: absolute;
        opacity: 0.02;
        width: 100%;
        height: 26%;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        -o-object-fit: cover;
        object-fit: cover;
    }
}