:root{
    --gradient-1: linear-gradient(to left, #9d15ff, #441d5f);
    --gradient-2: linear-gradient(to left, #7b09cc, #441d5f);
    --gradient-3: linear-gradient(to left, #5b1591, #b35af3);
}


.services{
    background-color: #140122;
    width: 60%;
    padding-inline: 20%;
    height: 30vw;
    padding-block: 10vw;
    color: white;
    
}
.services-title-container{
    display: flex;
}
.services-title{
    margin: 0;
    margin-right: 10%;
}
.services-title-left{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    margin: 0;
}

.sub-title {
  position: relative;
  width: 300px;
}
.services-title-left .sub-title::before,.services-title-left .sub-title::after{
    position: absolute;
    left: 90%;
    top: 50%;
    background: var(--gradient-1);
    content: "";
}

.services-title-left .sub-title::before{
    margin-top: -1px;
    height: 2px;
    width: 26px;
    margin-left: 10px;
   
}
.services-title-left .sub-title::after{
    margin-top: -3px;
    height: 6px;
    width: 6px;
    margin-left: 36px;
    border-radius: 50%;
  
}

.services-title-right{
   width: 60%;
   padding-left: 2%;
}
.services-title-right span{
    display: block;
    width: 100%;
    height: 3px;
    background: var(--gradient-1);
}
.services-content-container{
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 60px;
    width: 100%;
}
.services-content{
    width: 250px;
    height: 250px;
    background-color: #441d5f; 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    text-align: center;
    position: relative;
    justify-content: center;
    transition: background-color 0.3s ease;
    overflow: hidden;

}
.services-content-background {
    position: absolute; 
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffffc4; 
    transition: transform 0.8s ease; 
    transform: translateY(101%); 
    z-index: 0; 
}
.services-content:hover .services-content-background {
    transform: translateY(0); 
}
.services-content-circlestylebackground{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #2a103d71; 
    position: absolute;
    top: 50px;
    z-index: 0;  
    transition: all 1s;
}
.services-content-title{
    font-weight: 600;
    cursor: pointer;
}

.services-content:hover p.p-services-learn-more{
    color: #000000;
    z-index: 0;
    transition: all 1s;
    cursor: pointer;
}
.services-content:hover .services-content-icon{
    z-index: 2;
    filter: invert(0);
    transition: all 1s;
}
.services-content:hover .services-content-circlestylebackground{
   z-index: 1;
   background-color: #7c7c7c5e;
   transition: all 1s;
}
.services-content:hover .services-content-title{
    z-index: 2;
    color: #000000;
    transition: all 1s;
}
.services-content-icon{
    width:80px;
    color: #441d5f; 
    filter: invert(1);
    margin-bottom: 20%;
    margin-top: 20%;
}
.services-bottom-container{
    height: 5vw;
    padding-inline: 10%;
}
.services-bottom{
    display: flex;
    align-items: center;
    border: solid 1px rgb(255, 255, 255);
    padding-right: 0.8%;
    padding-left: 4%;
    justify-content: space-between;
    margin-top: 5%;
}
.services-bottom-text{
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 14px;
    margin-block: 0;
}
.services-bottom-text h3 {
    color: #9d15ff;
    margin-left: 5px;
    cursor: pointer;
}
.services-bottom-btn{
    position: relative;
    padding-block: 16px;
    padding-inline: 35px;
    background-color: #9d15ff;
    color: white;
    font-size: 14px;
    font-weight: 700;
    border: none;
    margin-block: 5px;
    cursor: pointer;
    transition: transform 0.5s ease;
    overflow: hidden;
}
.services-bottom-btn-text{
    z-index: 2;
    position: relative;
}
.services-bottom-btn-background{
    position: absolute; 
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--gradient-2);
    transition: transform 0.8s ease; 
    transform: translateX(-101%); 
    z-index: 0; 
}
.services-bottom-btn:hover .services-bottom-btn-background{
    transform: translateX(0);
    display: block;
    transition: transform 0.5s ease;
}