.headerhome {
    position: absolute;
    width: 100%;
    max-height: 100px;
}

.header {
    position: relative;
    display: flex;
    margin-inline: 10%;
    width: 80%;
    height: 120px;
    align-items: center;
    justify-content: space-between;
    font-size: max(0.8vw, 5px);;
}

.header-right ul {
    display: flex;
    gap: max(2vw);
    list-style: none;
    color: white;
    height: 40px;
    padding: 0;
    align-items: center;
    margin-inline: 30px;
}

.header-right ul a {
    padding-inline: 20px;
}

.header-right ul a.link_nav {
    color: rgb(255, 255, 255);

}

.header-right ul a.link_nav.active {
    padding-inline: max(1vw);
    background-color: transparent;
    color: white;
    border-radius: 0px 10px 0px;
    cursor: pointer;
    background-color: #9d15ff;
    transition: all 0.6s;
}

.headerhome-logo {
    position: absolute;
   width: max(10vw);
    margin-left: max(-5vw);
    margin-top: 60px;
}
