.home {
    width: 100%;
    position: relative;
    margin-bottom: -10px;
}
.homeimage{
    width: 100%;
    height: 80%;
    
}
.homeimage-info{
    width: 40%;
    display: flex;
    position: absolute;
    justify-content: center;
    flex-direction: column;
    color: rgb(243, 243, 243);
    top: 45%;
    left: 25%;
    transform: translate(-50%,-50%);
    font-size: 30px;
    font-weight: 700;
    margin: 0;
}
.homeimage-info-bottom{
    display: flex;
    align-items:center ;
    margin-top: 40px;
}
.homeimage-info-socialmidia{
    gap: 15px;
    display: flex;
    margin-left: 20px;

}
.homeimage-info-socialmidia svg{
   cursor: pointer;

}
.homeimage-info-socialmidia svg:hover{
    transform: scale(1.1);
    color:#9d15ff;
    
 }
.homeimage-info h2{
  font-size: 20px;
  margin-top: 0;
  font-weight: 500;
  color: rgb(136, 136, 136);
}
.homeimage-info-btn{
    padding-block: 10px;
    padding-inline: 25px;
    font-size: 15px;
    font-weight: 600;
    background-color: transparent;
    border: 2px solid rgb(255, 255, 255);
    color: white;
    border-radius: 0px 10px 0px ;
    cursor: pointer;
    width: 150px;

    transition: all 0.5s;
}
.homeimage-info-btn:hover{
    transform: scale(1.1);
    border-color: #9d15ff;
    background-color:  #9d15ff;
   
}