.NavMobile{
    transition: right 0.3s ease-in-out; 
    position: fixed;
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background-color: #141414;
    z-index: 3;

}

  

@media (max-width:650px) {
   .NavMobile{
    display: block;
   }
   .close-icon{
    position: absolute;
    right: 0;
    color: white;
    margin: 20px 20px 0px  0px;
    font-size: max(1vw, 26px);
   }
   .navmobile-nav{
    font-size: max(2vw, 5px);
    margin-top: 18vw;
   }
   .navmobile-nav ul{
    margin-top: 50px;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 30px;
   }
   .navmobile-nav li a{
    color: white;
    font-size: max(1vw, 12px);
    text-decoration: none;
   }
   .navbar-li-services{
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
    text-align: center;

   }
   .navbar-li-services svg{
    margin-right: 5vw;
   }
   ul.submenu{
    margin: 0;
    padding: 0;
    gap: 15px;

    
   }
   
   ul.submenu li a{
    color: rgb(190, 190, 190);
    
   }
}